---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - cerberus.snappcloud.io
  resources:
  - accesstokens
  - webserviceaccessbindings
  - webservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cerberus.snappcloud.io
  resources:
  - accesstokens/finalizers
  - webserviceaccessbindings/finalizers
  - webservices/finalizers
  verbs:
  - update
- apiGroups:
  - cerberus.snappcloud.io
  resources:
  - accesstokens/status
  - webserviceaccessbindings/status
  - webservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cerberus.snappcloud.io
  resources:
  - webserviceaccountbindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cerberus.snappcloud.io
  resources:
  - webserviceaccountbindings/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager-role
  namespace: '''cerberus-operator-system'''
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
