---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: webserviceaccessbindings.cerberus.snappcloud.io
spec:
  group: cerberus.snappcloud.io
  names:
    kind: WebserviceAccessBinding
    listKind: WebserviceAccessBindingList
    plural: webserviceaccessbindings
    singular: webserviceaccessbinding
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WebserviceAccessBinding is the Schema for the webserviceaccessbindings
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WebserviceAccessBindingSpec defines the desired state of
              WebserviceAccessBinding
            properties:
              foo:
                description: Foo is an example field of WebserviceAccessBinding. Edit
                  webserviceaccessbinding_types.go to remove/update
                type: string
            type: object
          status:
            description: WebserviceAccessBindingStatus defines the observed state
              of WebserviceAccessBinding
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
